services:
  pg:
    image: bitnami/postgresql:latest
    container_name: postgres_db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/bitnami/postgresql
    ports:
      - 5432:5432

volumes:
  postgres_data:
